body {
  margin: 0;
  padding: 0;
  background: #000;
}

/* Menu toggler */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: #fff;
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
  border-right: 1px solid rgb(0, 0, 0, .1);
}

.menu span {
  position: absolute;
  width: 30px;
  height: 2px;
  background: #262626;
  display: block;
  top: calc(50% - 1px);
  left: calc(50% - 15px);
  transition: .5s; 
}

.menu span:nth-child(1) {
  transform: translateY(-10px);
}
.menu span:nth-child(3) {
  transform: translateY(10px);
}

/* Menu icon rotation with jquery class */
.menu.active span:nth-child(1) {
  transform: translateY(0px) rotate(-45deg);
}
.menu.active span:nth-child(3) {
  transform: translateY(0px) rotate(45deg);
}

/* The middle line of the menu icon goes away on a click */
.menu.active span:nth-child(2) {
  transform: translateX(-30px);
  opacity: 0;
}

/* Menu Bar */
.menu-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  transition: .5s;
  transform: translateX(-100%);
}

/* Slides the bar to the left on click */
.menu-bar.active {
  transform: translateX(0);
}

.menu-bar ul {
   display: flex;
   margin: 0;
   padding: 0;
   float: right;
}

.menu-bar ul {
  list-style: none;
}

.menu-bar ul li a {
  line-height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #262626;
  text-decoration: none;
  padding: 0 20px;
  display: block;
  text-decoration: none;
  border-right: 1px solid rgb(0, 0, 0, .1);
}

.menu-bar ul li:last-child a {
  border-right: none;
}

.menu-bar ul li a:hover {
  background: #262626;
  color: #fff;
  transition: .5s;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .menu-bar {
    height: auto;
  }
  .menu-bar ul {
    display: inherit;
    float: none;
    text-align: center;
    width: 100%;
    height: 100vh;
  }
  .menu-bar ul a {
    border-right: none;
    border-bottom: 1px solid rgb(0, 0, 0, .1);
  }
}